
@font-face {
    font-family: "M PLUS Rounded 1c";
    src: url(../../font/MPLUSRounded1c-Medium.ttf);
   }
@font-face {
    font-family: "Noto Sans JP";
    src: url(../../font/NotoSansJP-SemiBold.ttf);
}
@font-face {
    font-family: "Dela Gothic One";
    src: url(../../font/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: "DotGothic16";
    src: url(../../font/DotGothic16-Regular.ttf);
}
@font-face {
    font-family: "Potta One";
    src: url(../../font/PottaOne-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;

}
body{
    background-color: #e6e7e8;
    font-family: "Noto Sans JP";
}
header{
    height: 64px;
    width: 100%;
    /* text-align: center; */
    color: #efefef;
    background-color: #500075;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans JP";
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
header a{
    text-decoration: none;
    color: #efefef;
    border: 2px solid #efefef;
    padding: 5px 30px;
    border-radius: 10px;
    margin-left: 30px;
}
details{
    color: #efefef;
}
details p{
    margin-left: 10px;
    font-family: "DotGothic16";
    background-color: #525252;
    padding: 10px 25px;
    border-radius: 10px;
}
details img{
    width: 45%;
    aspect-ratio: 16/9;
}
summary{
    /* list-style: none; */
    user-select: none;
    margin-top: 40px;
    width: 35%;
    background-color: #1E99AA;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: "Noto Sans JP";
}

details {
	height: 32px;
	transition: .5s;
}
details[open] {
	height: 64px;
	margin-bottom: 32px;
}


summary:hover{
    cursor: pointer;
    background-color: #177a87;
}
.main{
    margin-top: 60px;
    /* ⇩を後で消す */
    /* padding-bottom: 5000px; */
    padding: auto 100vh;
}
.home-button{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #1E99AA;
    padding: 10px 20%;
    border-radius: 10px;
    font-family: "Noto Sans JP";
    color: #efefef;
    text-decoration: none;
}
.home-button-div{
    text-align: center;
}
.home-button:hover{
    background-color: #177a87;
    transition: 0.3s;
}
.logo{
    margin-left: 5%;
    width: 60%;
    display: inline-block;
    font-family: "Noto Sans JP";

}
@media screen and (max-width:1220px) {
    .logo{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
    }
}
.logo_img{
    /* width: 800px;
    height: 450px; */

    aspect-ratio: 16/9;
    width: 100%;

    border-radius: 20px;
}
.logo h1{
    color: #272727;
    font-size: 20px;
    margin-left: 10px;
}
.dl {
    text-decoration: none;
    background-color: #1E99AA;
    padding: 5px 25%;
    color: #efefef;
    display: inline;
    border-radius: 10px;
    display: inline-block;
    font-family: "Noto Sans JP";
    margin-top: 10px;
}
.overview{
    background-color: #cfd2d4;
    margin-top: 40px;
    border-radius: 10px;
    padding-bottom: 1000px;
}
.overview_margin{
    margin:  20px ;
}
.day{
    color: #272727;
    display: inline-block;
}
.list h1{
    margin-bottom: 20px;
    font-family: "Potta One";
    border-radius: 10px;
    display: inline-block;
    padding: 5px 60px;
}

.list{
    display: inline;
    float: right;
    color: #272727;
    height: 500px;
    width: 35%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
@media screen and (max-width:1220px) {
    .list{
        float: none;

    }
    .list h1{
        display: none;
    }
}
.list2{
    width: 90%;
    margin-left: 7.5%;
}
.list a{
    text-decoration: none;
    color: #272727;
}
.map{
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
}
.map p{
    font-size: 30px;
    font-family: "M PLUS Rounded 1c";

}
.map h3{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}
.map img{
    width: 168px;
    border-radius: 10px;
}
.hint h4{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #272727;
    font-size: 20px;
}
.sns{
    font-family: "Noto Serif JP";
    margin-top: 140px;
    margin-bottom: 40px;
}

.youtube{
    margin-right: 10px;
    text-decoration: none;
   background-color: #a61922;
   padding: 14px 50px;
   color: #efefef;
   display: inline;
   border-radius: 20px;
}

.twitter{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
   background-color: #2e92d1;
   padding: 14px 50px;
   color: #efefef;
   display: inline;
   border-radius: 20px;

}

.bluesky{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
   background-color: #1185FE;
   padding: 14px 50px;
   color: #efefef;
   display: inline;
   border-radius: 20px;

}
.crafter{
    margin-left: 10px;
    text-decoration: none;
   background-color: #ed9c4c;
   padding: 14px 50px;
   color: #efefef;
   display: inline;
   border-radius: 20px;
}
.links{
    justify-content: center;
    font-family: "Dela Gothic One";
    
}
@media screen and (max-width:840px){
    .links{
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 0 10vh;
    }
    .links a{
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}
.youtube:hover{
    background-color: #91161e;
    transition: 0.3;
}
.twitter:hover{
    background-color: #2880b6;
    transition: 0.3;
}
.bluesky:hover{
    background-color: #0b77e9;
    transition: 0.3;
}
.crafter:hover{
    background-color: #d38a41;
    transition: 0.3;
}
.dl:hover{
    background-color: #177a87;
    transition: 0.3;
}
footer{
    text-align: center;

    margin-top: 70px;
    color: #272727;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;

}